<ion-view class="closing-view">
  
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
 
  <ion-nav-title>
    <span>Closing Property</span>
  </ion-nav-title>
  
<ion-content>
    <div ng-show="isHasData" class="list closing-functionalities">
      
      <div class="item item-icon-left item-icon-right">
        <i class="icon ion-clipboard"></i>
        <div>
          <strong><span class="title text_type_bold">Property Name</span></strong>
          <p class="description">{{closing['PropertyName']}}</p>
          <i ng-show="isHasFile" class="icon ion-android-document"></i>         
        </div>
      </div>
     
      <div class="item item-icon-left item-icon-right">
        <i class="icon ion-map"></i>
        <div>
          <strong><span class="title">PW File Open</span></strong>
          <p class="description">
          	{{closing['PWFileOpen'] == 1 ? "Yes" : "No"}}
          </p>
        </div>
      </div>
      
      <div class="item item-icon-left item-icon-right">
        <i class="icon ion-images"></i>
        <div>
          <strong><span class="title">Walk Throgh</span></strong>
          <p class="description">
          	{{closing['WalkThrogh'] == 1 ? "Yes" : "No"}}
          </p>
          <i ng-show="IsWalkThroghFile" class="icon ion-android-document"></i>         
        </div>
      </div>
      
      <div class="item item-icon-left item-icon-right">
        <i class="icon ion-social-usd-outline"></i>
        <div>
          <strong><span class="title">Insurance</span></strong>
          <p class="description">
          	{{closing['Insurance'] == 1 ? "Yes" : "No"}}
          </p>
          <i ng-show="IsInsuranceFile" class="icon ion-android-document"></i>
        </div>
      </div>
    	
      <div ng-show="IsClosingDocsFile" class="item item-icon-left item-icon-right">
        <i class="icon ion-ios-star-half"></i>
        <div>
          <strong><span class="title">Closing Docs</span></strong>
          <p class="description"></p>
          <i class="icon ion-android-document"></i>         
        </div>
      </div>
    
      <div ng-show="showNote" class="item item-icon-left item-icon-right">
        <i class="icon ion-email"></i>
        <div>
          <strong><span class="title">Note</span></strong>
          <p class="description">{{closing['Note']}}</p>
        </div>
      </div>
      
    </div>
    
    <div ng-hide="isHasData">
		<div class="card">
			<div class="item item-divider">
		    </div>
		    <div class="item item-text-wrap">
		    	{{msg}}
		    </div>
		    <div class="item item-divider">
		    </div>
		</div>
	</div>
  </ion-content>
  
</ion-view>
