<ion-view class="renovation-view">
  
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
 
  <ion-nav-title>
    <span>Renovation Property</span>
  </ion-nav-title>
  
<ion-content>
    <div class="list renovation-functionalities">
      
      <div class="item item-icon-left item-icon-right">
        <i class="icon ion-ios-browsers-outline"></i>
        <div>
          <strong><span class="title text_type_bold">Property Name</span></strong>
          <p class="description">{{renovation['PropertyName']}}</p>
          <i ng-show="isHasFile" class="icon ion-android-document"></i>    
        </div>
      </div>
     
      <div class="item item-icon-left item-icon-right">
        <i class="icon ion-map"></i>
        <div>
          <strong><span class="title">Is Sent Funds</span></strong>
          <p class="description">
          	{{renovation['IsSentFunds'] == 1 ? "Yes" : "No"}}
          </p>
        </div>
      </div>
      
      <div class="item item-icon-left item-icon-right">
        <i class="icon ion-images"></i>
        <div>
          <strong><span class="title">Funds Sent</span></strong>
          <p class="description">{{renovation['FundsSent']}}</p>
          <i ng-show="IsFundsSentFile" class="icon ion-android-document"></i>    
        </div>
      </div>
      
      <div class="item item-icon-left item-icon-right">
        <i class="icon ion-social-usd-outline"></i>
        <div>
          <strong><span class="title">Work Estimate</span></strong>
          <p class="description">{{renovation['WorkEstimate']}}</p>
          <i ng-show="IsWorkEstimateFile" class="icon ion-android-document"></i>   
        </div>
      </div>
      
      <div class="item item-icon-left item-icon-right">
        <i class="icon ion-social-usd-outline"></i>
        <div>
          <strong><span class="title">Start Date</span></strong>
          <p class="description">{{renovation['StartDate']}}</p>
        </div>
      </div>
      
      <div class="item item-icon-left item-icon-right">
        <i class="icon ion-ios-star-half"></i>
        <div>
          <strong><span class="title">End Date</span></strong>
          <p class="description">{{renovation['FinishDate']}}</p>
        </div>
      </div>
      
      <div class="item item-icon-left item-icon-right">
        <i class="icon ion-email"></i>
        <div>
          <strong><span class="title">First Payment</span></strong>
          <p class="description">
          	{{renovation['Payment1'] == 1 ? "Yes" : "No"}}
          </p>
          <i ng-show="IsPayment1File" class="icon ion-android-document"></i>  
        </div>
      </div>
      
      <div class="item item-icon-left item-icon-right">
        <i class="icon ion-email"></i>
        <div>
          <strong><span class="title">Second Payment</span></strong>
          <p class="description">
          	{{renovation['Payment2'] == 1 ? "Yes" : "No"}}
          </p>
          <i ng-show="IsPayment2File" class="icon ion-android-document"></i>  
        </div>
      </div>
      
      <div class="item item-icon-left item-icon-right">
        <i class="icon ion-email"></i>
        <div>
          <strong><span class="title">Third Payment</span></strong>
          <p class="description">
          	{{renovation['Payment3'] == 1 ? "Yes" : "No"}}
          </p>
          <i ng-show="IsPayment3File" class="icon ion-android-document"></i>  
        </div>
      </div>
      
      <div class="item item-icon-left item-icon-right">
        <i class="icon ion-email"></i>
        <div>
          <strong><span class="title">CofO</span></strong>
          <p class="description">
          	{{renovation['CofO'] == 1 ? "Yes" : "No"}}
          </p>
          <i ng-show="IsCOFOFile" class="icon ion-android-document"></i>  
        </div>
      </div>
      
      <div class="item item-icon-left item-icon-right">
        <i class="icon ion-email"></i>
        <div>
          <strong><span class="title">CofO Date</span></strong>
          <p class="description">{{renovation['CofODate']}}</p>
        </div>
      </div>
      
      <div ng-show="showNote" class="item item-icon-left item-icon-right">
        <i class="icon ion-email"></i>
        <div>
          <strong><span class="title">Note</span></strong>
          <p class="description">{{renovation['Note']}}</p>
        </div>
      </div>
      
    </div>
  </ion-content>
  
</ion-view>
