/* Empty. Add your own CSS if you like */
.incorectLogin {
	color: red;
    font-weight: bold;
    margin-top: 15px;
    margin-left: 3px;
}

.updateMeBth {
	border-color: white;	
}

.bar.app-top-bar .button.updateMeBth {
	font-weight: bold;
	color: black !important;
}

.pointer {
	cursor: pointer;
}

.imageHeight {
    max-height: 347px;
    width: 100%;
    overflow: hidden	
}