/* Empty. Add your own CSS if you like */
.incorectLogin {
<<<<<<< HEAD
	color: white;
=======
	color: red;
    font-weight: bold;
>>>>>>> 9d4baa9e180958d6ed23eceea712e9140882de44
    margin-top: 15px;
    margin-left: 3px;
}

.updateMeBth {
	border-color: white;	
}

.bar.app-top-bar .button.updateMeBth {
	font-weight: bold;
	color: black !important;
}

.pointer {
	cursor: pointer;
}

.imageHeight {
    max-height: 347px;
    width: 100%;
    overflow: hidden	
}

<<<<<<< HEAD
.rowMainScreen {

padding: 0px;


}

.loginLogo {
	width: 100%;
    margin-top: 41px;
}

.loginLogo img{
    width: 271px;
    margin: 0px auto;
    display: block;
}

.selectPmain {
   cursor: pointer;
    padding: 0px;
    position: relative;
    border-top: 1px #D6D0D0 solid;
    padding-top: 20px;
}

.selectPmain h2 {
    text-align: center;
    letter-spacing: 5px;
    margin-bottom: 15px;
    font-size: 23px;
     color: #DCD7D7;
}

.selectPmain p {
   color: white;
   text-align: center;
   font-size: 20px;
   line-height: 27px;
   margin-top: 20px;
}

.mainProperImgLogIn {
    max-height: 144px;
    overflow: hidden;
}

.mainProperImgLogIn img {
    width: 100%;
    height: auto;
=======
.loginLogo {
	width: 100%;
}

.loginLogo img{
    width: 194px;
    margin: 0px auto;
    display: block;
>>>>>>> 9d4baa9e180958d6ed23eceea712e9140882de44
}